rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Events/{event} {
      allow read, write: if false
      // debug(request.auth.email)
      // request.auth.email in resource.data.admins;
      // allow read: if request.auth.email in resource.data.participants;
      // allow read, write: if false;
    }
  }
}